body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}
img {
    width: 100%;
    height: auto;
}
.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    float: left;
    padding-top: 25px;
    font-size: 20px;

}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 45px;
}

nav a {
    color:black;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color:crimson;

}

.heroimg {
    width:100%;
}

.intropic .intro{
    position: relative;
    top: 200px;
}

.intropic{
    width:55%;
    
    float: right;
    margin-top: 3rem;
}

.intro {
    width:42%;
    float: left;
    font-weight: 600;
    font-size: 22px;
    clear:both;
    margin-top: 3rem;

}
.clearfix{
    clear:both
}

* {
    box-sizing: border-box;
  }
  .card {
    position: relative;
    background-color: #E18B23;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    overflow: hidden;
    width: 90%;
    margin: 2rem auto;
  }
  h1 {
    align-self: flex-start;
  }
  img {
    width: 300px;
    height: auto;
  }
  
  .card-img {
    position: relative;
    left: 0;
    transition: all 0.25s ease-in;
  }
  
  .card:hover > .card-img {
    left: 650px;
  }
  
  .card:hover > .side-text {
    right: 15px;
  }
  
  .side-text {
    position: absolute;
    right: -400px;
    top: 100px;
    transition: all 0.25s ease-in;
  }
  
  .work {
      padding: 3rem 0;
      clear: both;
  }
